scipy
numpy
shapely
pyvista
plotly
matplotlib
openseespy
sectionproperties
h5py
rich
Sphinx
sphinx-rtd-theme
pydata_sphinx_theme
sphinx-copybutton
sphinx-gallery
sphinxcontrib-napoleon
sphinx-autodoc-typehints
nbsphinx
cad_to_shapely
jinja2==3.0.3
jupyter-sphinx
pythreejs
notebook
triangle
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability