scipy
numpy
shapely
pyvista
plotly
matplotlib
openseespy
sectionproperties
h5py
Sphinx
sphinx-rtd-theme
sphinx-gallery
sphinxcontrib-napoleon
sphinx-autodoc-typehints
nbsphinx
cad_to_shapely
jinja2==3.0.3
jupyter-sphinx
pythreejs