sphinx-autodoc-typehints
sphinx-copybutton
jupyter-sphinx
nbsphinx
sphinx_design
furo
notebook
jupyterlab
numpy
scipy
xarray
shapely
pyvista
plotly
matplotlib
openseespy
sectionproperties
rich
Sphinx
pythreejs
triangle
jinja2==2.11
