sphinx-autoapi==3.3.3
sphinx-autobuild==2024.10.3
sphinx-autodoc-typehints==2.5.0
sphinx-copybutton==0.5.2
jupyter-sphinx==0.5.3
nbsphinx==0.9.6
sphinx_design==0.6.1
furo==2024.8.6
notebook
numpy
scipy
xarray
shapely
pyvista
plotly
gmsh
matplotlib
openseespy
sectionproperties
rich
Sphinx
pythreejs
triangle
jinja2