sphinx-autoapi==3.3.3
sphinx-autobuild==2024.10.3
sphinx-autodoc-typehints==2.5.0
sphinx-copybutton==0.5.2
jupyter-sphinx==0.5.3
nbsphinx==0.9.5
sphinx_design==0.6.1
furo==2024.8.6
notebook
numpy==1.26.4 
scipy==1.14.1 
xarray==2024.10.0 
shapely==2.0.6
pyvista==0.44.1
plotly==5.24.1
gmsh==4.13.1
matplotlib==3.9.2
openseespy
sectionproperties
rich
Sphinx
pythreejs
triangle
jinja2